:root {
    --cell-size: 5rem;
}

.congrats {
    color: #FF8080;
    font-size: 5rem;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.display {
    background-color: #F6FDC3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 1rem
}

.gameboard {
    background-color: #FFCF96;
    border-radius: 20px;
    display: grid;
    grid-template: repeat(3, var(--cell-size)) / repeat(3, var(--cell-size));
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
}

.cell {
    background-color: #F6FDC3;
    border-radius: 20px;
    height: var(--cell-size);
    width: var(--cell-size);
}

.restart {
    background-color: #CDFAD5;
    border-radius: 20px;
    font-weight: bold;
    width: fit-content;
    padding: .5rem 1rem;
}